.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.one, .two {
    width: 100%;
    height: 200px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.one__purple {
    height: 75%;
    width: 50px;
    margin-top: 27px;
    background-color: purple;
}

.one__green {
    height: 90%;
    width: 30%;
    background-color: green;
    margin: 0 20px;
}

.one__blue {
    height: 150px;
    width: 150px;
    background-color: lightblue;
    border-radius: 50%;
}

.two {
    border: 5px dotted black;
    padding: 30px;
    justify-content: center;
    height: 300px;
}

.two__yellow {
    width: 90%;
    height: 90%;
    background-color: lightgoldenrodyellow;
    box-shadow: 9px 9px 4px rgba(0,0,0,0.8);
}

.three {
    height: 300px;
    width: 50%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    text-align: center;
    position: relative;
}

.three > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    letter-spacing: 10px;
    color: purple;
}