body {
    background-color: #eee;
}

.header {
    height: 150px;
    width: 100%;
    background-color: black;
}

.main {
    width: 60%;
    background-color: #fff;
    height: 75vh;
    margin: 0 auto;
}

.footer {
    width: 60%;
    height: 10vh;
    background-color: #000;
    margin: 0 auto;
}